body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.navbar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.nav-li {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
}

.navbar-brand {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 25px;
}

.nav-img {
    height: 65px;
    width: auto;
    margin: 10px 20px 10px 5px;
}

.navbar-toggle {
    margin-top: 15px;
    padding: 20px 20px;
}

.dropdown-menu li{
    font-size: 15px;
}

.fa {
    font-size: 20px;
}

.fa-card {
    text-align: center;
    padding: 15px;
    font-size: 80px;
}

.fa-search i{
    -webkit-text-stroke: 1px #fff;
}

.form-container {
    padding: 0 120px;
}

.form-1 {
    border: 1px solid #d72830;
}

.form-1:hover {
    background-color: #d72830;
}

.form-1-main {
    color: #d72830;
}

.form-1-main:hover {
    color: #fff;
}

.form-2 {
    border: 1px solid #4bb54a;
}

.form-2:hover {
    background-color: #4bb54a;
}

.form-2-main {
    color: #4bb54a;
}

.form-2-main:hover {
    color: #fff;
}

.form-3 {
    border: 1px solid #4564ba;
}

.form-3:hover {
    background-color: #4564ba;
}

.form-3-main {
    color: #4564ba;
}

.form-3-main:hover {
    color: #fff;
}

.card {
    padding: 2px;
    margin: 15px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 40px;
}

.card:hover {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.main-description {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.add-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 20px;
}

.return-button {
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}

.remove-padding {
    padding: 0;
    margin: 0;
}

.nounderline {
    text-decoration: none !important
}

.button-margin {
    margin: 22px 0;
}

.create {
    text-align: center;
}

.error{
    color: red;
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
}

.pad-form {
    padding: 0 15px;
}

.auth{
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 0;
    padding: 75px 0px;
}

.auth-img {
    height: 180px;
    width: auto;
    margin-bottom: 50px;
}